<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>GachiParcer</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="header">
            <form id="gp-search-form" action="external" method="post">
			{% csrf_token %}
                <input type="search" name="param" placeholder="Введите название товара для поиска">
                <button type="submit" onclick="if (this.getAttribute('clicked') == '1') { return false; } else { this.setAttribute('clicked', '1'); }"></button>
              </form>
        </div>    
        <div id="bascket">
            <a href="{% url 'backet' %}" title="Корзина"><img src="{% static "images/basket.png"%}" width="100%" height="100%"></a>
        </div>   
    </body>
</html>