.header {
    background-color: #000000;
    height: 8%;
    margin-left: -1%;
    margin-top: -0.5%;
}

.bascket {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 90%;
    margin-top: -4%;
    margin-left:96%;
    width: 61px;
}

.boxContainer
{
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 90%;
    margin-top: -3%;
    margin-left:43%;
    width: 0%;
}



* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: -2.8% auto;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
towars {
  position: absolute; 
  left: 1px;
}

button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}


body, html {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    font: normal 100% arial,sans-serif;
} 
